<div class="spreadsheet-controls flex rounded-full shadow-sm p-2" style="background-color: #f0f4f9;">
    <div class="basic-controls">
        <!-- basic contols  -->
        <mat-icon>search</mat-icon>
        <mat-icon>undo</mat-icon>
        <mat-icon>redo</mat-icon>
        <mat-icon>print</mat-icon>
        <mat-icon>imagesearch_roller</mat-icon>
        <mat-icon>search</mat-icon>
    </div>
    <div class="formating-controls">
        <!-- formating controls  -->
        <mat-icon>attach_money</mat-icon>
        <mat-icon>percent</mat-icon>
        <span>0.0</span>
        <span>0.00</span>
        <span>123</span>
    </div>
    <div class="text-selection-control">
        <!-- text selection  -->
        <span>Default</span>
    </div>
    <div class="text-size-control">
        <!-- text size  -->
        <span>-</span>
        <span>10</span>
        <span>+</span>
    </div>
    <div class="text-style-controla">
        <!-- text-style -->
        <span>B</span>
        <span>I</span>
        <span>+</span>
        <span>A</span>
    </div>
    <div class="color-border-controls">
        <!-- color border  -->
        <mat-icon>format_color_fills</mat-icon>
        <mat-icon>border_all</mat-icon>
        <mat-icon>cell_merges</mat-icon>
    </div>
    <div class="alignment-controls">
        <mat-icon>format_indent_increase</mat-icon>
        <mat-icon>vertical_align_bottom</mat-icon>
        <!-- alignment  -->
        <mat-icon>text_select_move_forward_word</mat-icon>
        <mat-icon>text_select_move_forward_word</mat-icon>
    </div>
    <div class="more-controls">
        <!-- more  -->
         <mat-icon>text_select_move_forward_word</mat-icon>
    </div>
</div>