<div class="header-spreadsheet w-full flex justify-between border-2 border-red-500">
    <div class="header-spreadsheet-left flex gap-1">
        <div class="header-icon flex">
            <img src="icon.png" class="h-12" alt="" />
        </div>
        <div class="title-controls">
            <div class="title flex">
                <h1 class="text-lg">New File</h1>
            </div>
            <div class="controls flex gap-3 text-sm">
                <span>File</span>
                <span>Edit</span>
                <span>View</span>
                <span>Insert</span>
                <span>Format</span>
                <span>Data</span>
                <span>Tools</span>
                <span>Extensions</span>
                <span>Help</span>
            </div>
        </div>
    </div>
    <div class="header-spreadsheet-right flex items-center gap-5">
        <div class="more-options flex gap-5">
            <mat-icon>history</mat-icon>
            <mat-icon>comment</mat-icon>
            <mat-icon>videocam</mat-icon>
        </div>
        <div class="profile-sharing flex">
            <span>sharing</span>
            <mat-icon>account_circle</mat-icon>
        </div>
    </div>
</div>
