<div class="sheet-formula flex w-full py-2">
    <div class="row-column-info flex items-center justify-between w-1/12 px-2" style="border-right: 1px solid gray">
        <span class="text-xs">{{cellInfo}}</span>
        <mat-icon>arrow_drop_down</mat-icon>
    </div>
    <div class="sheet-formula-body flex items-center w-11/12">
        <input name="formula" id="formula-bar" class="w-full outline-none p-2 resize-none hide-scrollbar" style="max-height: 5vh;" placeholder="formula here"/>
    </div>
</div>