@import "tailwindcss";
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-mdc-menu-panel{
    min-width:  20vw!important;
    background-color: white!important;
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for Firefox */
.hide-scrollbar {
  scrollbar-width: none;
}

.mat-icon{
  color: gray;
  fill: none!important;
  font-variation-settings: 'FILL' 0; 
}
